/* Convencion
    1. Posicionamiento
    2. Model box
    3. Tipografia
    4. Visuales
    5. Otros
*/  

:root{
    --primary-color: #f7931a;
    --primary-soft-color: #ffe9d5;
    --secondary-color: #1a9af7;
    --secondary-soft-color: #e7f5ff;
    --dark-warm-color: #201e1c;
    --dark-color: #282623;
    --darker-light-color: #bababa;
    --background-color: #faf8f7;
    --light-color: #fff;
    --font-inter: 'Inter', sans-serif;
    --size-300:300;
	--size-400:400;
	--size-500:500;
	--size-700:700
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
    font-family: "DM Sans", sans-serif;
}

header{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-width: 320px; /*Tamaño mas pequño de disp */
    height: 334px;
    padding: 2rem 1rem;
    text-align: center;
    background: linear-gradient(207.8deg, #201E1C 16.69%, #F7931A 100%);
}

header img{
    width: 150px;
    height: 24px;
    margin-top: 60px;
}


.header__title-container{
    width: 90%;
    min-width: 288px;
    max-width: 900px;
    height: 218px;
    margin-top: 40px;
}


.header__title-container h1 {
    font-size: 2.4rem;
    color: var(--light-color);
    line-height: 2.6rem;
    font-weight: bold;
}

.header__title-container p{
    margin-top: 25px;
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.8rem;
    color: var(--primary-soft-color);
}

.header__title-container .header__button{
    position: absolute;
    top: calc(100% - 24px); /*Resta la mitad del tamaño del boton */
    display: block;
    left: 0;
    right: 0;
    margin: 0 auto;
    width: 229px;
    height: 48px;
    padding: 12px 16px;
    background-color: var(--background-color);
    box-shadow: 0px 4px 8px rgb(89, 73, 30, 0.16);
    border: none;
    border-radius: 5px;
    font-size: 1.4rem;
    font-weight: bold;
    text-decoration: none;
    color: var(--dark-warm-color);
}


main{
    width: 100%;
    height: auto;
    background-color: var(--background-color);
}

.exchange-rates{
    width: 100%;
    min-width: 320px;
    height: auto;
    padding-top: 80px;
    padding-bottom: 30px;
    text-align: center;
}

.exchange-rates__description{
    width: 90%;
    min-width: 288px;
    max-width: 900px;
    margin: 0 auto;
}


.exchange-rates__img-container{
    width: 200px;
    height: 200px;
    margin: 0 auto;
    margin-bottom: 50px;
    background-image: url('assets/img/bitcoin.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.exchange-rates__description h2{
    font-size: 2.4rem;
    margin-bottom: 30px;
    font-weight: bold;
    line-height: 2.6rem;
    color: var(--dark-color);
}

.exchange-rates__description p{
    margin-bottom: 30px;
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.6rem;
    color: #757575;
}

.exchange-rates__table{
    width: 70%;
    min-width: 235px;
    max-width: 500px;
    height: 360px;
    margin: 0 auto;
    font-family: "Inter", sans-serif;
}

.exchange-rates__title{
    margin-bottom: 15px;
    font-size: 1.8rem;
    line-height: 2.3rem;
    font-weight: var(--size-700);
}

.exchange-rates__title--currency{
    color: #FF9536;
}

.exchange-rates__table-container{
    width: 90%;
    min-width: 230px;
    max-width: 300px;
    height: 250px;
    margin: 0 auto;
}

.exchange-rates__table-container table{
    width: 100%;
    height: 100%;
}

.exchange-rates__table-container td{
    width: 50%;
    font-size: 1.6rem;
    font-weight: var(--size-500);
    line-height: 1.9rem;
    color: var(--darker-light-color);
    background-color: #fff;
}

.exchange-rates__table-container  .exchange-rates__item-right{
    font-weight: var(--size-400);
    line-height: 1.7rem;
    color: #757575;
}

.exchange-rates__table-container  .exchange-rates__item--top-left{
    border-radius: 15px 0 0 0;
}

.exchange-rates__table-container  .exchange-rates__item--top-right{
    border-radius: 0 15px 0 0;
}

.exchange-rates__table-container  .exchange-rates__item--bottom-left{
    border-radius: 0 0 0 15px;
}

.exchange-rates__table-container  .exchange-rates__item--bottom-right{
    border-radius: 0 0 15px 0;
}


.exchange-rates__table-container .item__icon{
    display: inline-block;
    width: 15px;
    height: 15px;
    margin-left: 10px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.exchange-rates__table-container .item__icon--down{
    background-image: url('./assets/icons/trending-down.svg');
}

.exchange-rates__table-container .item__icon--up{
    background-image: url('./assets/icons/trending-up.svg');
}

.exchange-rates__table-date{
    width: max-content;
    height: 30px;
    margin: 15px auto 0;
    padding: 8px;
    border-radius: 8px;
}

.exchange-rates__table-date--currency{
    background-color: var(--primary-soft-color);
}

.exchange-rates__table-date p{
    font-family: var(--font-inter);
    font-size: 1.2rem;
    font-weight: var(--size-400);
}

.exchange-rates__title--secondary{
    color: var(--secondary-color);
}

.exchange-rates__table-date--secondary{
    background-color: #E7F5FF;
}

.main-product{
    position: relative;
    width: 100%;
    min-width: 320px;
    height: auto;
    padding: 20px 10px;
    background-color: var(--dark-warm-color);
}

.main-product__union-icon{
    position: absolute;
    top: -10px;
    left: 0;
    right: 0;
    margin: 0 auto;
    width: 41px;
    height: 24px;
    background-image: url('./assets/icons/only_logo.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.main-product__intro{
    width: 90%;
    min-width: 288px;
    height: auto;
    margin: 0 auto;
    margin-top: 50px;
    text-align: center;
}

.main-product__intro h2{
    margin-bottom: 20px;
    font-size: 2.4rem;
    font-weight: bold;
    line-height: 2.6rem;
    color: var(--light-color);
}

.main-product__intro p{
    margin-bottom: 20px;
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.8rem;
    color: #808080;
}

.main-product__cards-item{
    width: 90%;
    min-width: 288px;
    max-width: 400px;
    min-height: 150px;
    margin: 15px auto;
    padding: 15px;
    background-color: var(--dark-color);
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.16);;
}

.main-product__cards-icon{
    display: block;
    width: 20px;
    height: 20px;
    margin-bottom: 10px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.main-product__cards-icon--clock{
    background-image: url(./assets/icons/clock.svg);
}
.main-product__cards-icon--eye{
    background-image: url(./assets/icons/eye.svg);
}
.main-product__cards-icon--dollar{
    background-image: url(./assets/icons/dollar-sign.svg);
}
.main-product__cards-icon--check{
    background-image: url(./assets/icons/check-circle.svg);
}


.main-product__cards-title{
    margin-bottom: 15px;
    font-size: 1.8rem;
    font-weight: bold;
    line-height: 1.8rem;
    color: var(--light-color);
}

.main-product__cards-description{
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.8rem;
    color: #808080;
}

.container__img-bitcoin{
    width: 100%;
    min-width: 320px;
    height: 50vh;
    background-image: url('./assets/img/bitcoin_background.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}


.container__img-bitcoin h2{
    text-align: center;
    font-size: 2.4rem;
    padding-top: 70px;
    font-weight: var(--size-700);
    line-height: 2.6rem;
    color: var(--light-color);
}

.plans{
    width: 100%;
    min-width: 320px;
    padding: 50px 0px;
    height: auto;
    background-color: var(--background-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.plans__intro{
    width: 95%;
    min-width: 288px;
    max-width: 400px;
    margin: 0 auto;
    margin-bottom: 20px;
    height: auto;
}

.plans__intro h2{
    margin-bottom: 20px;
    font-size: 2.4rem;
    font-weight: bold;
    line-height: 2.6rem;
    color: var(--dark-warm-color);
}

.plans__intro p{
    margin-bottom: 20px;
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.8rem;
    color: #757575;
}

.plans__cards-carousel{
    width: 100%;
    height: 300px;
    overflow-x: scroll;
    overscroll-behavior: contain;
    scroll-snap-type: x proximity;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
}

.plans__cards-carousel::-webkit-scrollbar {
    display: none; /* Chrome, Safari, Opera */
}

.plans__cards-carousel .left{
    position: absolute;
    left: 20px;
    display: inline-block;
    width: 30px;
    height: 30px;
    background-image: url('./assets/icons/left.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 10;
    cursor: pointer;
}


.plans__cards-carousel .right{
    position: absolute;
    left: 270px;
    display: inline-block;
    width: 30px;
    height: 30px;
    background-image: url('./assets/icons/right.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 10;
    cursor: pointer;
}

.plans__card{
    position: relative;
    scroll-snap-align: center;
    width: 60%;
    min-width: 230px;
    max-width: 260px;
    height: auto;
    padding: 10px 15px;
    border: none;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(89, 73, 30, 0.16);
    background-color: var(--light-color);
}

.plans__card .plans__card-badge{
    position: absolute;
    top: -15px;
    width: 100px;
    left: 0;
    right: 0;
    margin: 0 auto;
    padding: 10px 0px;
    border: none;
    border-radius: 8px;
    background-color: var(--primary-color);
    color: var(--light-color);
    font-size: 1.2rem;
    font-family: var(--font-inter);
    font-weight: bold;
    text-align: center;
}

.plans__card-item{
    width: 95%;
    height: auto;
    margin: 0 auto;
    text-align: center;
}

.plans__card-item h2{
    margin-top: 30px;
    margin-bottom: 10px;
    font-size: 1.6rem;
    font-weight: var(--size-500);
    line-height: 1.8rem;
}

.plans__card-cost{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3px;
    margin-bottom: 15px;
}

.plans__card-currency{
    position: relative;
    top: 12px;
    font-size: 1.2rem;
    font-weight: 500;
    font-family: var(--font-inter);
    align-self: baseline;
}

.plans__card-amount{
    font-size: 5.2rem;
    font-weight: 700;
    font-family: var(--font-inter);
}

.plans__card-description{
    font-size: 1.2rem;
    font-family: var(--font-inter);
    font-weight: var(--size-500);
    color: rgba(117, 117, 117, 1);
    margin-bottom: 15px;
}

.plans__card-button{
    width: 150px;
    height: 48px;
    margin: 0 auto;
    margin-bottom: 10px;
    border-radius: 4px;
    border: 2px solid var(--primary-color);
    background-color: rgba(250, 248, 247, 1);
    color: var(--dark-warm-color);
    font-size: 1.4rem;
    font-weight: bold;
    font-family: "DM Sans", sans-serif;
    transition: all 0.3s ease;
}

.plans__card-button-icon{
    display: inline-block;
    width: 20px;
    height: 20px;
    background-image: url('./assets/icons/arrow-right-orange.svg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    vertical-align: text-bottom;
}