/* Convencion
    1. Posicionamiento
    2. Model box
    3. Tipografia
    4. Visuales
    5. Otros
*/  

:root{
    --primary-color: #f7931a;
    --primary-soft-color: #ffe9d5;
    --secondary-color: #1a9af7;
    --secondary-soft-color: #e7f5ff;
    --dark-warm-color: #201e1c;
    --dark-color: #282623;
    --darker-light-color: #bababa;
    --background-color: #faf8f7;
    --light-color: #fff;
    --font-inter: 'Inter', sans-serif;
    --size-300:300;
	--size-400:400;
	--size-500:500;
	--size-700:700
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
    font-family: "DM Sans", sans-serif;
}

header{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-width: 320px; /*Tamaño mas pequño de disp */
    height: 334px;
    padding: 2rem 1rem;
    text-align: center;
    background: linear-gradient(207.8deg, #201E1C 16.69%, #F7931A 100%);
}

header img{
    width: 150px;
    height: 24px;
    margin-top: 60px;
}


.header__title__container{
    width: 90%;
    min-width: 288px;
    max-width: 900px;
    height: 218px;
    margin-top: 40px;
}


.header__title__container h1 {
    font-size: 2.4rem;
    color: var(--light-color);
    line-height: 2.6rem;
    font-weight: bold;
}

.header__title__container p{
    margin-top: 25px;
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.8rem;
    color: var(--primary-soft-color);
}

.header__title__container .header__button{
    position: absolute;
    top: calc(100% - 24px); /*Resta la mitad del tamaño del boton */
    display: block;
    left: 0;
    right: 0;
    margin: 0 auto;
    width: 229px;
    height: 48px;
    padding: 12px 16px;
    background-color: var(--background-color);
    box-shadow: 0px 4px 8px rgb(89, 73, 30, 0.16);
    border: none;
    border-radius: 5px;
    font-size: 1.4rem;
    font-weight: bold;
    text-decoration: none;
    color: var(--dark-warm-color);
}


main{
    width: 100%;
    height: auto;
    background-color: var(--background-color);
}

.exchange-rates{
    width: 100%;
    min-width: 320px;
    height: auto;
    padding-top: 80px;
    padding-bottom: 30px;
    text-align: center;
}

.exchange-rates__description{
    width: 90%;
    min-width: 288px;
    max-width: 900px;
    margin: 0 auto;
}


.exchange-rates__img-container{
    width: 200px;
    height: 200px;
    margin: 0 auto;
    margin-bottom: 50px;
    background-image: url('assets/img/bitcoin.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.exchange-rates__description h2{
    font-size: 2.4rem;
    margin-bottom: 30px;
    font-weight: bold;
    line-height: 2.6rem;
    color: var(--dark-color);
}

.exchange-rates__description p{
    margin-bottom: 30px;
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.6rem;
    color: #757575;

}

.exchange-rates__table{
    width: 70%;
    min-width: 235px;
    max-width: 500px;
    height: 360px;
    margin: 0 auto;
    font-family: "Inter", sans-serif;
}

.exchange-rates__title{
    margin-bottom: 15px;
    font-size: 1.8rem;
    line-height: 2.3rem;
    color: #FF9536;
    font-weight: var(--size-700);
}

.exchange-rates__table-container{
    width: 90%;
    min-width: 230px;
    max-width: 300px;
    height: 250px;
    margin: 0 auto;
}

.exchange-rates__table-container table{
    width: 100%;
    height: 100%;
}

.exchange-rates__table-container td{
    width: 50%;
    font-size: 1.6rem;
    font-weight: var(--size-500);
    line-height: 1.9rem;
    color: var(--darker-light-color);
    background-color: #fff;
}

.exchange-rates__table-container  .exchange-rates__item-right{
    font-weight: var(--size-400);
    line-height: 1.7rem;
    color: #757575;
}

.exchange-rates__table-container  .exchange-rates__item--top-left{
    border-radius: 15px 0 0 0;
}

.exchange-rates__table-container  .exchange-rates__item--top-right{
    border-radius: 0 15px 0 0;
}

.exchange-rates__table-container  .exchange-rates__item--bottom-left{
    border-radius: 0 0 0 15px;
}

.exchange-rates__table-container  .exchange-rates__item--bottom-right{
    border-radius: 0 0 15px 0;
}


.exchange-rates__table-container .item__icon{
    display: inline-block;
    width: 15px;
    height: 15px;
    margin-left: 10px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.exchange-rates__table-container .item__icon--down{
    background-image: url('./assets/icons/trending-down.svg');
}

.exchange-rates__table-container .item__icon--up{
    background-image: url('./assets/icons/trending-up.svg');
}

.exchange-rates__table-date{
    width: max-content;
    height: 30px;
    margin: 15px auto 0;
    padding: 8px;
    background-color: var(--primary-soft-color);
    border-radius: 8px;
}

.exchange-rates__table-date p{
    font-family: var(--font-inter);
    font-size: 1.2rem;
    font-weight: var(--size-400);
}
